<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sesame.mapper.DoctorMapper">
  <resultMap id="BaseResultMap" type="com.sesame.pojo.Doctor">
    <id column="dno" jdbcType="INTEGER" property="dno" />
    <result column="dname" jdbcType="VARCHAR" property="dname" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="roomNo" jdbcType="INTEGER" property="roomno" />
    <result column="rank" jdbcType="VARCHAR" property="rank" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />

    <association property="chargeType" javaType="com.sesame.pojo.ChargeType">
      <id column="priceTypeNo" property="priceTypeNo"/>
      <result column="priceTypeName" property="priceTypeName"/>
    </association>
    <association property="charge" javaType="com.sesame.pojo.Charge">
      <id column="chargeNo" property="chargeNo"/>
      <result column="grade" property="grade"/>
      <result column="fee" property="fee"/>
      <result column="priceTypeNo" property="priceTypeNo"/>
    </association>

  </resultMap>
  
  
  
  <sql id="Base_Column_List">
    dno, dname, sex, roomNo, rank, grade, `describe`, picture
  </sql>

  <!--
    /*根据编号查询医生所有信息*/
    Doctor selectByPrimaryKey(Integer dno);
  -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--select
    <include refid="Base_Column_List" />
    from doctor
    where dno = #{dno,jdbcType=INTEGER}-->

    select d.dno, d.dname, d.sex, d.roomNo, d.rank, d.grade, d.describe, d.picture, c.fee , ct.priceTypeName
    from doctor d
    JOIN charge c ON d.grade = c.grade
    JOIN charge_type ct ON ct.priceTypeNo = c.priceTypeNo
    where d.dno=#{dno,jdbcType=INTEGER} and ct.priceTypeNo = 1
  </select>

  <!--
    /*查询某科室的医生*/
    List<Doctor> doctorlist(Integer roomNo);
  -->
  <select id="doctorlist" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from doctor
    where roomNo = #{roomno,jdbcType=INTEGER}
  </select>
  
  <!--  
  		//查询所有医生
    List<Doctor> selectAllDoc();
  -->
  <select id="selectAllDoc" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from doctor limit 2
  </select>
</mapper>