<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sesame.mapper.RoomMapper">
  <resultMap id="BaseResultMap" type="com.sesame.pojo.Room">
    <id column="roomNo" jdbcType="INTEGER" property="roomno" />
    <result column="roomName" jdbcType="VARCHAR" property="roomname" />
    <result column="RoomDescribe" jdbcType="VARCHAR" property="roomdescribe" />
    <result column="sectionNo" jdbcType="INTEGER" property="sectionno" />
  </resultMap>
  <sql id="Base_Column_List">
    roomNo, roomName, RoomDescribe, sectionNo
  </sql>
    <!--
      /* 根据大类查询科室*/
    List<Room> roomListById(Integer id);
    -->
    <select id="roomListById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from room
        where sectionNo = #{sectionNo,jdbcType=INTEGER}
    </select>

    <!--
      /*查询所有科室*/
    List<Room> roomList();
    -->
    <select id="roomList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from room
    </select>
</mapper>