<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sesame.mapper.SectionMapper">

  <resultMap id="BaseResultMap" type="com.sesame.pojo.Section">
    <id column="sectionNo" jdbcType="INTEGER" property="sectionno" />
    <result column="sectionName" jdbcType="VARCHAR" property="sectionname" />
  </resultMap>

  <sql id="Base_Column_List">
    sectionNo, sectionName
  </sql>
  <!--
    /*查询所有科室*/
    List<Section> selectByPrimaryKey();
  -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from section
  </select>

</mapper>